nav{
    list-style-type: none;
    margin: 25px;
    padding: 0;
    overflow: hidden;
    background: #333;
}

a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration-line: none;
}

a:hover{
    background-color: #111;
}

h1{
    margin: 0;
    padding 0;
    border: 1px solid transparent;
    padding: 25px;
    margin: 25px;
    text-align: center;
    background-image: url(935629e8f694e61.jpg);
    color:white;
    font-weight: bold;
}

article {
    margin: 0;
    padding 0;
    border: 1px solid transparent; /* change color according to background */
    padding: 25px;
    margin: 25px;
    text-align:justify;
    color:cornsilk;
    background-image: url(bg.jpg);
    background-size: cover; /* change color according to background */
 
   
}

p{
        width: 90%;
    border: 1px solid transparent;
    padding: 25px;
    margin: 25px;
    text-align: left;
}
